.ItemCharacter {
    float:left;
    background-color: transparent;
}

.characterImage {
    width:80%;
    height: auto;
}

.characterImage:hover {
    cursor:pointer;
}

.info{
    width: 50%;
    float: left;
}